/* css */

/* utility */

._debug{
    background-color: coral;
    border: 1px solid black;
    min-height: 80px;
}

._debugobj{
    background-color:cadetblue;
    border: 1px solid black;
}

/* nav */

nav .title{
    color: white;
    font-weight: bolder;
}

nav{
    background-color: #2C3E50;
}

/* .jumbotron */

.jumbotron{
    background-color: #1ABC9C;
}

.jumbotron img{
    width: 25vw;
}

.line{
    background-color: white;
    height: 5px;
    width: 10vw;
    border-radius: 2px;
}

.jumbotron i,
main .about-us i{
    font-size: 3rem;
    color: white;
}

.jumbotron h1{
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}

/* main */

main .line{
    background-color: #2C3E50;
}

main ._portfolio i,
main .contact i{
    color: #2C3E50;
    font-size: 3rem;
}

main ._portfolio h2,
main .contact h2{
    font-size: 2rem;
    color: #2C3E50;
    font-weight: bold;
}

main ._portfolio img{
    width: 100%;
    border-radius: 10px;
}

.about-us{
    background-color: #1ABC9C;
    margin-top: 50px;
}

main .about-us h2{
    color: white;
    font-weight: bold;
}

main .about-us .line{
    background-color: white;
}

main .box_text{
    width: 60%;
    margin: 0 auto;
}

main .about-us button i{
    font-size: 0.9rem;
    padding-right: 3px;
}

main .about-us button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 7px;
    color: white;
}

main .contact{
    padding-top: 50px;
}

main .my_form{
    width: 70%;
    margin: 0 auto;
}

main .my_form .border_form{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid lightgrey;
}

footer h3{
    margin-top: 30px;
    text-align: center;
}