/* css */

/* utility */

._debug{
    background-color: coral;
    border: 1px solid black;
    min-height: 80px;
}

._debugobj{
    background-color:cadetblue;
    border: 1px solid black;
}

._jumbo{
    height: 300px;
    background-color: green;
    border: 1px solid black;
}

main h2{
    text-align: center;
    padding: 20px 0;
}

._portfolio{
    background-color: fuchsia;
}

._card{
    border: 1px solid black;
    background-color: blanchedalmond;
    height: 100px;
}

main p{
    text-align: center;
}

main ._info{
    min-height: 300px;
    margin-bottom: 50px;
}

footer h3{
    margin-top: 30px;
    text-align: center;
}